<header class="header">

    <img src="/img/Icono.png" alt="Logo" class="logo">

    <a href="/">
        <img src="/img/RIV2.png" alt="Logo" class="logo2">
    </a>
    

    <div class="button-container">

        
        <a href="../logout">
            <button type="submit"  id="buttonCerrar">Cerrar Sesión</button>
        </a>
        
    </div>

   
    
</header>

<script>
   document.getElementById("buttonCerrar").style.visibility ="hidden";
   


    <% if (locals.user) { %>

        const user = <%- JSON.stringify(user); %>
       
        document.getElementById("buttonCerrar").style.visibility ="visible";
        

<% } %>
  


    
    
</script>

 



