<header class="header">

    <img src="/img/Icono.png" alt="Logo" class="logo">

    <a href="/">
        <img src="/img/RIV2.png" alt="Logo" class="logo2">
    </a>
    

    <div class="button-container">

        <a href="../login">
        <button id="buttonSesion" >Iniciar Sesión</button>
        </a>
        <a href="../register">
        <button type="submit"  id="buttonRegistro">Registrarse</button>
        </a>
        <a href="../logout">
            <button type="submit"  id="buttonCerrar">Cerrar Sesión</button>
        </a>
        
    </div>

   
    
</header>

<script>
   document.getElementById("buttonCerrar").style.visibility ="hidden";
   


    <% if (locals.user) { %>

        const user = <%- JSON.stringify(user); %>
        document.getElementById("buttonRegistro").remove()
        console.log(user);
        document.getElementById("buttonCerrar").style.visibility ="visible";
        document.getElementById("buttonSesion").style.visibility ="hidden";

<% } %>
  


    
    
</script>

 



